.navbar * {
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

.navbar {
    background-color: #ffffff;
    width: 90%;
    max-width: 1000px;
    border-radius: 50px;
    padding: 10px 15px 10px 30px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    margin: 0 auto;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    font-weight: 500;
    color: #1a1a1a;
}

.logo-icon {
    width: 32px;
    height: 32px;
    fill: none;
    stroke: #Fca756;
    stroke-width: 2.5;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.text-highlight { color: #Fca756; font-weight: 400; }

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: 40px;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 5px;
    position: relative;
    display: block;
    transition: color 0.3s ease;
}

.nav-links li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #1A2238;
    transform: scaleX(0);
    transform-origin: center; 
    transition: transform 0.3s ease;
}

.nav-links li a:hover::after,
.nav-links li a.active::after {
    transform: scaleX(1);
}

.btn-chat {
    background: #F89b42 100%;
    color: white;
    text-decoration: none;
    padding: 12px 35px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    transition: transform 0.2s ease;
}

.btn-chat:hover {
    transform: translateY(-1px);
    box-shadow: 0 6px 15px rgba(117, 117, 117, 0.4);
}

@media (max-width: 768px) {
    .nav-links { display: none; }
    .navbar { padding: 10px; }
}