Options -Indexes
RewriteEngine On

# Protect app folder
RewriteRule ^app/(.*)$ /home [R=301,L]

# Assets mapping
RewriteRule ^assets/(.*)$ public/assets/$1 [L,QSA]

# Set index
DirectoryIndex public/index.php

# Send ALL requests to public/index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php [L,QSA]
